{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "AZURE_STORAGE_ACCOUNT_NAME": "<nome-da-storage-account>",
    "AZURE_STORAGE_ACCOUNT_KEY": "<chave-de-acesso-da-storage-account>",
    "AZURE_STORAGE_CONTAINER_NAME": "videos",
    "SAS_TOKEN_EXPIRY_MINUTES": "15",
    "CORS_ALLOWED_ORIGIN": "*"
  },
  "Host": {
    "CORS": "*"
  }
}
